.museumhead {
    background-color: #b40202;
    padding: 10px;
    margin-top: -1rem;
    margin-bottom: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 40px;
    text-align: center;
    font-family: 'Dubai', sans-serif, Verdana, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    margin-right: -1rem;
    margin-left: -1rem;
}

#memories {
    text-align: center;
    font-family: 'Dubai', sans-serif, Verdana, sans-serif;
}

.browserbutton {
    padding: 10px;
    padding-left: 20px;
    margin-left: 25rem;
    margin-right: 25rem;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.browserbutton:hover {
    background-color: #0056b3;
    text-decoration: none;
    color: #fff;
}